* {
  box-sizing: border-box; 
}

body {
  background-color: burlywood;
}

header {
  border: 1px solid red;
}
.logo {
  display: inline-block;
  border: 1px solid blue;
  background-image: url(https://image.freepik.com/free-vector/wolf-logo-stock-vector_56473-305.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top:1em;
  height: 80px;
  width: 80px;
}


nav {
  display: inline-block;
  border: 1px solid blue;
}
main {
  border: 1px solid red;
}

.core {
  float: left;
  width: 80%;
  border: 1px solid purple;
}

.extra {
  float: right;
  width: 20%;
  border: 1px solid blue;
}

footer {
  border: 1px solid red;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  border: 1px solid green;
}

img {
  width: 50px;
  height: 50px;
}
footer div {
  border: 1px solid green;
}

.clearfix {
  clear: both;
}

/* Color Sections */


.color-box {
  display: inline-block;
  width: 20%;
  height: auto;
  border: 3px solid black;
  border-radius: 10px;
}

/* Reds */

.reds {

}

#red-color-1 {
  background-color: #8B0000;
}

#red-color-2 {
  background-color: #B22222;
}

#red-color-3 {
  background-color: #FF0000;
}

#red-color-4 {
  background-color: #DC143C;
}

/* Green */

.greens {

}

#green-color-1 {
  background-color: #006400;
}

#green-color-2 {
  background-color: #008000;
}

#green-color-3 {
  background-color: #32CD32;
}

#green-color-4 {
  background-color: #7CFC00;
}

/* Blue */

.blues {

}

#blue-color-1 {
  background-color: #00008B;
}

#blue-color-2 {
  background-color: #0000FF;
}

#blue-color-3 {
  background-color: #00BFFF;
}

#blue-color-4 {
  background-color: #B0E0E6;
}