* {
  box-sizing: border-box; 
}

html {
  font-size: 16px;
}

body {
  background-color: white;
}

/* Header */

header {
  /*border: 1px solid red;*/
  background-color: #2F2FA2;
}
.logo {
  display: inline-block;
  /*border: 1px solid blue;*/
  background-image: url(https://image.freepik.com/free-vector/wolf-logo-stock-vector_56473-305.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  height: 60px;
  width: 60px;
  vertical-align: middle;
  border-radius: 50px;
  margin-left: 10px;
  margin-top: 10px;
}

nav {
  display: inline-block;
  /*border: 1px solid blue;*/
  vertical-align: middle;
  background-color: #2F2FA2;
  color: black;
  padding: 0 0;
  margin: 0 0;
  /*margin: 0px -5px;
  padding: 5px 0px;*/
  width: 90%;
  height: 60px;
  /*border: 1px solid red;*/
  position: relative;
}

nav ul {
  margin: 0 0;
  padding: 0 5px;
  /*margin: -5px 0px;
  padding: 0px 10px;*/
  background-color: #2F2FA2;
  color: black;
  height: 100%;
  /*border: 1px solid red;*/
  position: absolute;
  right: 5px;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  /*border: 1px solid green;*/
  background-color: #2F2FA2;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  padding: 5px 10px;
  margin: 10px 5px;
  height: 30px;
  border-radius: 5px;
}

nav ul li:hover {
  background-color:#F64C72;
}

nav ul li a{
  color: white;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}

#login-button {
  border:2px solid white;
}
/*
#login-button a {
  color: #F64C72;
}
*/
#login-button:hover {
  border:2px solid #F64C72;
}

/* General */

main {
  /*border: 1px solid red;*/
}

.core {
  float: left;
  width: 100%;
  /*border: 1px solid purple;*/
  padding: 0 40px;
}

.extra {
  /*float: right;*/
  /*width: 20%;*/
  /*border: 1px solid blue;*/
  padding: 0 40px 0 0;
}

.extra section,
.extra div {
  display: inline-block;
  vertical-align: middle;
}

footer {
  /*border: 1px solid red;*/
  padding: 0 40px;
}


img {
  width: 200px;
  height: 200px;
}
footer div {
  /*border: 1px solid green;*/
}

.clearfix {
  clear: both;
}


/* Banner */
.banner {
  height: 550px;
  background-color: #2F2FA2;
}

.banner div {
  display: inline-block;
  vertical-align: middle;
}

.video-top {
  /*display: block;*/
  height: 100px;
  width: 560px;
  margin: auto;
  position: relative;
}

.video-top iframe {
  position: relative;
  bottom: 200px;
  /*padding: 20px;
  background-color: white;*/
  border: 6px solid white;
  border-radius: 10px;
}

.banner-desc {
  width: 400px;
  /*border: 1px solid red;*/
  margin-left: 20px;
}
.banner-desc h1 {
  font-size: 24px;
  color: white;
}
.banner-desc p {
  font-size: 12px;
  color: white;
}

.jumbotron {
  background-image: url(https://static.oc-static.com/prod/images/paths/illustrations/61/15435992831411_path61.png);
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
  background-color: #2F2FA2;
  position: relative;
  height: 300px;
  width: 300px;
  margin-left: 200px;
  margin-top: 50px;
}

/* Containers */

.mid-box {
  display: inline-block;
  width: 33%;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px auto;
  background-color: #242582;
}

/* Color Scheme */

#color-sec {
  background-color: white;
}

#fonts-sec {
  background-color: #2F2FA2;
}

#text-styles-sec  {
    background-color: white;
}

#snippet-sec {
  background-color: #2F2FA2;

}

/* Color Sections */


/* Base Color Sections */

.color-box {
  display: inline-block;
  width: 20%;
  height: auto;
  border: 3px solid black;
  border-radius: 10px;
}

/* Reds */

.reds {

}

#red-color-1 {
  background-color: #8B0000;
}

#red-color-2 {
  background-color: #B22222;
}

#red-color-3 {
  background-color: #FF0000;
}

#red-color-4 {
  background-color: #DC143C;
}

/* Green */

.greens {

}

#green-color-1 {
  background-color: #006400;
}

#green-color-2 {
  background-color: #008000;
}

#green-color-3 {
  background-color: #32CD32;
}

#green-color-4 {
  background-color: #7CFC00;
}

/* Blue */

.blues {

}

#blue-color-1 {
  background-color: #00008B;
}

#blue-color-2 {
  background-color: #0000FF;
}

#blue-color-3 {
  background-color: #00BFFF;
}

#blue-color-4 {
  background-color: #B0E0E6;
}

/* Color Scheme Sections */
.no-space {
  font-size: 0; /*word spacing fix-fix gap bug */
  border: 1px solid black;
}
.normal-space {
  font-size: 16px ; /*word spacing fix-fix gap bug */
}
.color-separator {
  margin: 0 0;
  padding: 0 0;
  width: 50%;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
}


.swatch-1 {
  margin: 0 0;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.swatch-2 {
  margin: 0 0;  
  display: inline-block;
  width: 50%;
  height: 50%;
}

.swatch-3 {
  margin: 0 0;
  display: inline-block;
  width: 50%;
  height: 50%;
}

.swatch-4 {
  margin: 0 0;
  display: inline-block;
  width: 50%;
  height: 50%;
}

.swatch-5 {
  margin: 0 0;
  display: inline-block;
  width: 50%;
  height: 50%;
}

/*color combination */

#color-combination-1 .swatch-1 {
  background-color: #E27D60;
}
#color-combination-1 .swatch-2 {
  background-color: #085DCB;
}
#color-combination-1 .swatch-3 {
  background-color: #E8A87C;
}
#color-combination-1 .swatch-4 {
  background-color: #C38D9E;
}
#color-combination-1 .swatch-5 {
  background-color: #41B3A3;
}

/*color combination */

#color-combination-2 .swatch-1 {
  background-color: #242582;
}
#color-combination-2 .swatch-2 {
  background-color: #553D67;
}
#color-combination-2 .swatch-3 {
  background-color: #F64C72;
}
#color-combination-2 .swatch-4 {
  background-color: #99738E;
}
#color-combination-2 .swatch-5 {
  background-color: #2F2FA2;
}


/*color combination */

#color-combination-3 .swatch-1 {
  background-color: #8D8741;
}
#color-combination-3 .swatch-2 {
  background-color: #659DBD;
}
#color-combination-3 .swatch-3 {
  background-color: #DAAD86;
}
#color-combination-3 .swatch-4 {
  background-color: #BC986A;
}
#color-combination-3 .swatch-5 {
  background-color: #FBEEC1;
}


/*color combination */

#color-combination-4 .swatch-1 {
  background-color: #05386B;
}
#color-combination-4 .swatch-2 {
  background-color: #379683;
}
#color-combination-4 .swatch-3 {
  background-color: #5CDB95;
}
#color-combination-4 .swatch-4 {
  background-color: #8EE4AF;
}
#color-combination-4 .swatch-5 {
  background-color: #EDF5E1;
}
/* Fonts Sections */

/* Text Style Sections */

/* Common Text Modification */


th {
  text-transform: uppercase;
}

 td,  th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(70, 83, 204);
  color: white;
}

.table-container {
  overflow-x:auto;
}


/* Snippets Section */